.register label {
    display: block;
    margin-bottom: 10px;
}

.register form p {
    position: relative;
    font-size: 13.5px;
    left: 200px;
    top: 20px;

}

.register {
    margin-top: 50px;
}

.register form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.register form p a {
    font-weight: bolder;

}

.register form button {
    background-color: #677EB3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
}

.register form button:hover {
    background-color: #44A69E;

}

.register form h1 {
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}