.cart {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .item {
    display: flex;
    margin: 10px 0;
  }
  
  .item img {
    height: 100px;
    margin-right: 10px;
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
  }
  
  .item-details h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .item-details p {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .item-details button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10
  }