@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

header {
    background-color: #2d3c55;
    color: white;
}

.homeLink {
    font-family: 'Times New Roman', Times, serif
}

header {
    position: relative;
    padding: 7.5px;

}

header h1 {
    display: inline-block;
    color: white;
    margin-bottom: auto;
}

header nav {
    font-size: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    right: 0;
    bottom: 22px;
    padding: 0.2em 1rem;
}

header nav>* {
    float: left;
}



nav a {
    margin: 0 0.5em;
    font-size: 20px;
}

nav a:hover {
    cursor: pointer;
    color: #677EB3;
    /* font-weight: bolder; */
}

.homeLink:hover {
    color: #44A69E;
}

#user,
#guest {
    margin: 0;
    padding: 0;
}
p,
div {
  margin: 0;
}
i{
    margin-right: 10px;
}

